<div class="container" id="card-container">
  
  <h1 class="section-header mb-4">
  {% if request.resolver_match.url_name == 'book.show' %}
    Browse All Books
  {% elif request.resolver_match.url_name == 'book.private.show' %}
    My Private Library
  {% elif request.resolver_match.url_name == 'book.archive.show' %}
    Archived Books
  {% else %}
    No Name
  {% endif %}</h1>

  <div class="row g-4">
    {% for book in books %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
       <h5 class="card-title">{{ book.book_title }}</h5>
      <div class="card h-100 shadow-sm">
        {% if book.book_cover %}
        <img
          src="{{ book.book_cover.url }}"
          class="card-img-top"
          alt="{{ book.book_title }} cover"
          style="height: 250px; object-fit: cover;"
        />
        {% else %}
        <img
          src="https://placehold.co/600x400/CCCCCC/000000?text=No+Cover"
          class="card-img-top"
          alt="No cover loaded"
          style="height: 250px; object-fit: cover;"
        />
        {% endif %}

        <div class="card-body d-flex flex-column">
         

          <p class="card-text">
            <strong>Author(s):</strong>
            {% for author in book.author.all %} {{ author.name }}{% if not forloop.last %}, {% endif %} {% empty %}
            Unknown {% endfor %}
          </p>

          <p class="card-text">
            <strong>Owner:</strong>
            {% if book.owner %}
              {{ book.owner.username }}
            {% else %}
              Unknown
            {% endif %}
          </p>

          <p class="card-text">
            <strong>Genres:</strong>
            {% for genre in book.genres.all %}
            <span class="badge bg-secondary me-1">{{ genre.name }}</span>
            {% empty %}
            <span class="text-muted fst-italic">No genres.</span>
            {% endfor %}
          </p>

          <p class="card-text">
            <strong>Status:</strong> {{ book.book_status }}
          </p>

          <p class="card-text">
            <strong>Description:</strong> {{ book.book_description|truncatechars:80 }}
          </p>

          <div class="mt-auto pt-3">
            {% if mode == "edit" %}
            <a href="{% url 'book.edit' book.pk %}" class="btn w-100 mb-2" id="btn-edit">Edit Details</a>
            <a href="{% url 'book.delete' book.pk %}" class="btn btn-outline-danger btn-sm w-100">Delete</a>
            {% else %}
            <button 
                type="button" 
                class="btn btn-secondary view-details w-100 mb-2" 
                data-bs-toggle="modal" 
                data-bs-target="#bookDetailModal" 
                data-book-id="{{ book.pk }}" 
                data-detail-url="{% url 'book.detail' book.pk %}" 
            >
                View Details
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>