{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'saybabook_app/vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css' %}"
    />
    <title>Browse</title>
  </head>
  <body>
    {% include 'saybabook_app/components/navbar.html' %}
    <div class="container">
    {% for user in users %}
      {% for book in books %}
      <div class="card" style="width: 18rem">
        {% if book.book_cover %}
        <img src="{{ book.book_cover.url }}" class="card-img-top" alt="..." />
        {% else %}
        <p>No image Loaded</p>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{book.book_title}}</h5>
          <p class="card-text">
            <p>{{ user.username }}</p>
            <p>{{ book.book_description }}</p>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {% endfor %} 
    {% endfor %}
    </div>
  </body>
</html>
