{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'saybabook_app/vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css' %}"
    />
    <title>Browse</title>
  </head>
  <body>
    {% include 'saybabook_app/components/navbar.html' %}
   <div class="container">

    {% for book in books %}   
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
        {% if book.book_cover %}
        <img src="{{ book.book_cover.url }}" class="card-img-top" alt="{{ book.book_title }} cover" />
        {% else %}
        <img src="https://placehold.co/600x400/CCCCCC/000000?text=No+Cover" class="card-img-top" alt="No cover loaded" />
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{ book.book_title }}</h5>
            
            <p class="card-text">
                <strong>Author(s):</strong> 
            {% for author in book.author.all %}
                {{ author.name }},
            {% empty %}
                Unknown
            {% endfor %}
            </p>
            <p class="card-text">
                <strong>Genres:</strong> 
                {% for genre in book.genres.all %}
                    <span class="badge bg-secondary me-1">{{ genre.name }}</span>
                {% empty %}
                    <span class="text-muted fst-italic">No genres listed.</span>
                {% endfor %}
            </p>
            <p class="card-text">
                {% if book.book_category %}
                <strong>Category: </strong> {{ book.book_category.name}} 
                {% else %}
                <span class="text-muted fst-italic">No category listed.</span>
                {% endif %}
            </p>
            <p class="card-text">
                <strong>Description:</strong> {{ book.book_description|truncatechars:100 }}
            </p>
            
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %} 
    
</div>
  </body>
</html>
