body{
  padding: 30px;
  background-color: #D9D9D9;
}
/* Navbar Style Design */
.navbar {
  background-color: #504d4d;
  border-radius: 5px;
}
.nav-link {
  color: #ffffff;
  font-weight: bold;
  margin-right: 30px;
}
.account-icon{
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: #D9D9D9;
    margin-left:10px ;
    margin-right:10px ;
}
.account-icon:hover{
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: 3px solid #48a865;
    margin-left:10px ;
    margin-right:10px ;
}
#logout-btn{
    color: #dfa1a1;
    font-weight: 900;
}
#logout-btn:hover{
    color: #d13e3e;
    font-weight: 900;
    border: 2px solid #d13e3e;
}
#search-container{
    margin-left: 20px;
    width: 100%;
}